<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
                android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
                android:exported="true">
            <intent-filter>
                <data android:host="oauth"
                      android:scheme="kakaob4b2c2bc15ab0f9b933a31c17c8d20d3" />
            </intent-filter>
        </activity>
    </application>
</manifest>
